* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3", sans-serif;
  font-size: 17px;
}

:root {
  --main-color: rgb(147, 76, 4);
  --main-font: "Lora", serif;
  --main-font-2: "Source Sans 3", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'menu'
    'main'
    'facts'
    'footer';
  background-color: white;
  max-width: 100%;
  margin: auto;
}

.header {
  grid-area: header;
  text-align: center;
  font-family: "Lora", serif;
  color: var(--main-color);
  font-size: 30px;
  float: center;
  display: flex;
  flex-direction: row;
}

.logo img {
  width: auto;
  height: auto;
  max-width: 18%;
  display: grid;
  float: inline-start;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

/* =====================
   Hamburger menue
===================== */

.nav-button {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid rgb(80, 47, 6);
  width: 50px;
  background-color: var(--main-color);
  color: white;
  margin-left: 20px;
  display: none;
  justify-content: center;
  text-align: center;
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(170, 90, 40);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

/* The navigation menu links */
.sidenav a {
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #61360c;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

ul.nav-options {
  list-style-type: none;
  padding-left: 0px;
  flex-direction: column;
}

.nav-options li a {
  list-style-type: none;
  text-decoration: none;
  font-family: var(--main-font-2);
  font-size: 15px;
  padding: 10px;
}

.nav-options li a:hover {
  color: #61360c;
}

/* =================
   Ends here
=================== */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px 12px;
  z-index: 1;
  font-size: 15px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.list ul {
  list-style-type: none;
  flex-direction: row;
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
  display: flex;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.list ul li a {
  display: block;
  color: rgb(49, 49, 49);
  padding: 15px 16px;
  margin-right: 10px;
  text-decoration: none;
}

.list ul li a:hover {
  background-color: #fdedfc;
}

/* ===============
   Search bar
================== */

.menu {
  display: grid;
  float: inline-start;
}

#mySearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  font-size: 16px;
  font-family: var(--main-font--);
}

/* Style the navigation menu inside the left column */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
  font-family: var(--main-font--);
}

#myMenu li a {
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block;
}

#myMenu li a:hover {
  background-color: #eee;
}

.dropdown #myMenu li {
  position: relative;
  display: inline-block;
  flex-direction: column;
}

.dropdown.dropdown-content #myMenu li a {
  display: flex;
  flex-direction: row;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px 12px;
  z-index: 1;
  font-size: 15px;
}

/* ========= ends here ========== */

.content img {
  max-width: 100%;
  width: auto;
  height: auto;
  display: block;
}

.content {
  text-align: center;
  justify-content: center;
  justify-items: center;
}

.HPC {
  text-align: center;
  font-family: "Lora", serif;
  color: var(--main-color);
  font-size: 25px;
  margin: 20px;
}

.HPC p {
  margin: auto;
  width: 70%;
  font-size: 20px;
  font-family: var(--main-font);
}

.gallery {
  display: grid;
  align-self: center;
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;
  height: auto;
  width: auto;
}

p {
  text-align: center;
  font-size: 40px;
  font-family: var(--main-font);
  color: var(--main-color);
}

div.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 80px solid beige;
}

div.gallery-item {
  margin: 25px;
  border: 1px solid burlywood;
  width: 180px;
}

div.gallery-item:hover {
  border: 1px solid var(--main-color);
  transform: scale(1.1);
  transition: transform 0.6s ease;
}

div.gallery-item img {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  aspect-ratio: 2 / 3; /* Standard cake image ratio */
  object-fit: cover;
}

div.gallery-item div.desc {
  padding: 15px;
  text-align: center;
  color: var(--main-color);
  font-family: var(--main-font-2);
}

#homebutton {
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 100px;
}

/* gallery items ends here */

/* Promo section starts here */

.promo {
  margin: 50px;
  font-size: medium;
  background-color: white;
}

.promo h1 {
  text-align: center;
  font-family: var(--main-font);
  color: var(--main-color);
}

.promo p {
  text-align: center;
  font-family: var(--main-font-2);
  color: var(--main-color);
  font-size: 30px;
}

/* Promo section ends here */

/* Review section starts here, cake picture */
#review-section {
  margin-bottom: 40px;
  background-color: rgb(244, 192, 140);
}

#review-section p {
  color: var(--main-color);
  font-family: var(--main-font);
  font-size: 30px;
  padding-top: 60px;
}

#review-section img {
  margin: 25px;
  border: 1px solid var(--main-color);
  max-width: 90%;
  width: auto;
  height: auto;
}

#review-section img:hover {
  transform: scale(1.1);
  transition: transform 0.6s ease;
}

/* Review section ends here */

#p3 {
  font-size: 30px;
  font-family: var(--main-font-2);
  background-color: beige;
  color: var(--main-color);
  margin: 20px;
  padding: 50px;
}

#p5 {
  font-size: 25px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 15px;
}

.flex-container > div {
  display: block;
  margin: 20px;
}

.flex-container {
  grid-area: footer;
  text-align: center;
}

.flex-container p {
  color: var(--main-color);
  font-family: var(--main-font-2);
  font-size: 18px;
  padding: 20px;
}

.flex-container :hover {
  transform: scale(1.05);
  transition: 0.5s;
}

#reviews img {
  width: 150px;
  height: auto;
}

/* =====================
   FOOTER CONTAINER
===================== */

.footer{
   background-color: rgb(187, 139, 76);
}

.container {
  grid-area: footer;
  display: grid;
  grid-template-columns: 3fr;
 
  padding: 2.5rem 1.5rem;
  text-align: center;
  flex-direction: row;
}

/* FOOTER BOXES */
.container > div {
  background-color: rgb(187, 139, 76);
  padding: 1.5rem;
  border-radius: 12px;
}

/* =====================
   LOGO
===================== */

.footer-logo img {
  max-width: 180px;
  width: 100%;
  height: auto;
  margin: auto;
  display: block;
}

.footer-logo img:hover {
  transform: scale(1.1);
  transition: 1s;
}

/* =====================
   TEXT
===================== */

.container p {
  font-family: var(--main-font-2);
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.6;
}

/* =====================
   SOCIAL ICONS
===================== */

.socials ul {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  padding: 0;
  margin: 1rem 0 0;
}

.socials li {
  list-style: none;
}

.socials img {
  max-width: 50px;
  height: auto;
  padding: 6px;
  border-radius: 8px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.socials img:hover {
  background-color: rgba(96, 41, 9, 0.5);
  transform: scale(1.1);
}

/* =====================
   INFO LINKS
===================== */

.info a {
  display: inline-block;
  margin: 0.3rem 0;
  color: #ded8d8;
  text-decoration: none;
  list-style-type: none;
  font-size: 1.05rem;
  font-family: var(--main-font-2);
  padding: 6px 10px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.info a:hover {
  color: #602909;
}


/* =====================
   COPYRIGHT
===================== */

.footer-bottom #year{
text-align: center;
display: block;
}
#year{
  font-size:15px;
  color:white;
  text-align: center;
}


/* =================
   Responsive
===================== */

/* =============================== 
SMALL DEVICES (Phones – up to 579px) 
================================== */
@media (max-width: 576px) {

  .grid-container {
    max-width: 100%;
    margin: auto;
  }

  
  .header {
    justify-content: center;
    flex-direction: row;
    text-align: center;
    padding: 1.5rem;
  }

  #logoimg {
    max-width: 120px;
    margin-bottom: 0.1rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  .list ul li {
    display: none;
  }

  .nav-button {
    display: block;
  }

  nav.nav-options {
    flex-direction: column;
  }

  #mySearch {
    width: 70%;
  }

  .content {
    padding: 1rem;
  }

  .content img {
    max-width: 100%;
    height: auto;
  }

  .HPC h2 {
    font-size: 1.4rem;
  }

  .HPC p {
    font-size: 0.95rem;
  }

  .facts p {
    font-size: 1.5rem;
  }

  .gallery {
    display: grid;
    align-self: center;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    width: auto;
    padding: auto;
    margin: auto;
  }

  .gallery img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 2 / 1;
  }

  .promo h1 {
    font-size: 1.4rem;
    text-align: center;
  }

  .promo p {
    font-size: 1rem;
  }

  #review-section img {
    max-width: 80%;
    width: auto;
    height: auto;
  }

  .flex-container {
    flex-direction: column;
    gap: 1rem;
  }

  .flex-container img {
    max-width: 140px;
    height: auto;
  }

  #review-section p {
    font-size: 1.4rem;
  }

  #p3 {
    font-size: 1rem;
    padding: 1rem;
  }

  #p4 {
    font-size: 2rem;
  }

  #reviews img {
    max-width: 120px;
    height: auto;
  }

  #p5 {
    font-size: 1rem;
  }

  .flex-container p {
    font-size: 1rem;
  }

  .container {
    grid-template-columns: auto;
    flex-direction: row;
  }
}

/* =========================================
   MEDIUM DEVICES (Tablets – 580px to 768px)
========================================== */

@media (min-width: 577px) and (max-width: 768px) {
  .grid-container {
    max-width: 100%;
    margin: auto;
  }

  h1 {
    font-size: 2.8rem;
  }

  .list ul li {
    display: none;
  }

  .nav-button {
    display: block;
  }

  nav.nav-options {
    flex-direction: column;
  }

  #mySearch {
    width: 90%;
  }

  .HPC h2 {
    font-size: 1.8rem;
  }

  .HPC p {
    font-size: 1.1rem;
  }

  .content img {
    max-width: 100%;
    height: auto;
    padding-top: 10px;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery img {
    max-width: 100%;
    height: auto;
  }

  .flex-container {
    flex-direction: column;
  }

  .flex-container img {
    max-width: 100%;
    height: auto;
  }

  .promo h1 {
    font-size: 1.9rem;
  }

  .promo p {
    font-size: 1.3rem;
    padding: 5px;
    margin: 5px;
  }

  #review-section p {
    font-size: 1.8rem;
  }

  .flex-container {
    flex-direction: column;
    font-size: 1rem;
    text-align: center;
    justify-content: center;
    padding: auto;
  }

  .reviews p {
    font-size: 1.6rem;
  }

  /*footer*/

  .footer-section img {
    max-width: 50%;
    height: auto;
  }
}

/*========================================
LARGE DEVICES (Laptops – 769px to 1024px) 
=========================================*/
@media (min-width: 769px) and (max-width: 1024px) {
  .grid-container {
    max-width: 100%;
    margin: auto;
  }

  h1 {
    font-size: 2.9rem;
  }

  .HPC h2 {
    font-size: 2rem;
  }

  .content img {
    max-width: 100%;
    height: auto;
  }

  .HPC p {
    font-size: 1.3rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .flex-container {
    flex-wrap: wrap;
    gap: 2rem;
  }


  .container {
    grid-template-columns: repeat(3, 1fr);
    padding: 3.5rem 2.5rem;
  }

  .footer-logo img {
    max-width: 220px;
  }

  .container p {
    font-size: 1.05rem;
  }
}

/* ===================================
EXTRA LARGE DEVICES (Desktops – 1025px+)
====================================== */
@media (min-width: 1025px) {
  .grid-container {
    max-width: auto;
    margin: auto;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .HPC h2 {
    font-size: 2.2rem;
  }

  .promo h1 {
    font-size: 2.4rem;
  }

  .container {
    grid-template-columns: repeat(3, 1fr);
    padding: 3.5rem 2.5rem;
  }

  .footer-logo img {
    max-width: 220px;
  }

  .container p {
    font-size: 1.05rem;
  }
}
