* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3", sans-serif;
  font-size: 17px;
  margin: 10px;
  padding: 10px;

}

:root {
  --main-color: rgb(147, 76, 4);
  --main-font: "Lora", serif;
  --main-font-2: "Source Sans 3", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas:
  'header'
  'menu'
  'content'
  'facts'
  'footer';
  background-color: white;
  gap: 10px;
}

.header {
  grid-area: header;
  text-align: center;
  font-family: "Lora", serif;
  color: var(--main-color);
   font-size: 40px;
}

/* Hide hamburger by default (desktop) */
.hamburger {
  display: none;
}

/* Hide checkbox */
#menu-toggle {
  display: none;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px 12px;
  z-index: 1;
  font-size: 15px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.menu ul {
  list-style-type: none;
  flex-direction: row;
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
  display: flex;
}

.nav-lists{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

nav ul li a {
  display: block;
 color: rgb(49, 49, 49);
  padding: 15px 16px;
  margin-right: 10px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #fdedfc;
}

#search {
  float:left;
  margin-left: 390px;
  margin-top: 8px;
  padding: 5px;
  width:200px;
  font-size: 16px;
  border: 1px solid var(--main-color);
  border-radius:10px;
}

.flex-container{
  background-color: rgb(246, 227, 191);
    display:flex;
    flex-direction:row;
    font-size: 15px;
     text-align: center;
}


.flex-container:hover{
  transform: scale(1.05);
  transition: 0.5s;
}
.flex-container> div {
    display:block;
    margin:20px;
}

.flex-container img {
  width: 300px;
  height: auto;
}

.flex-container p {
  color: var(--main-color);
  font-family: var(--main-font-2);
  font-size: 18px;
  padding: 0px;
  
}
.flex-container h2{
  color: var(--main-color);
  font-family: var(--main-font);
  font-size: 35px;
  padding: 20px;
}


.gallery {
  grid-area: facts;
  background-color: beige;
  padding: 5px;
  margin: 30px;
}

p{
  text-align: center;
  font-size: 10px;
  font-family: var(--main-font);
  color: var(--main-color);
}


div.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 5px solid beige;
}

div.gallery-item {
  margin: 25px;
  border: 1px solid #f0e9e9;
  width: 250px;
}

div.gallery-item:hover {
  border: 1px solid var(--main-color);
  transform: scale(1.1);
  transition: transform 0.6s ease;
}

div.gallery-item img {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
   aspect-ratio: 1 / 1; /* Force a perfect square */
  object-fit: cover;
}

div.gallery-item div.desc {
  padding: 15px;
  text-align: center;
  color:var(--main-color);
  font-family: var(--main-font-2);
}

.facts p{
  margin: 20px;
  font-size: 18px;
  font-family: var(--main-font-2);
  color: var(--main-color);
  text-align: center;
}


/*footer starts here*/
.footer {
  background-color: #7f4a22; /* warm brown */
  color: #ffffff;
  padding: 40px 20px 20px;
  font-family: var(--main-font--);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  min-width: 200px;

}

.logo-section img {
  max-width: 160px;
}

.socials li {
  justify-content: left;
  display: flex;
  gap: 30px;
    flex-direction: column;
}

.socials li img {
  max-width: 60px;
  height: auto;
  padding:10px;
}

.socials li img:hover {
  background-color: rgb(96, 41, 9, 0.5);
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.footer h3 {
  margin-bottom: 12px;
  font-size: 1.2rem;
  display: inline-block;
  padding-bottom: 4px;
 justify-content: center;
}

.foot-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.foot-list li {
  margin-bottom: 8px;
}

.foot-list a {
  color: #ded8d8;
  text-decoration: none;
  transition: color 0.1s ease;
}

.foot-list a:hover {
  color: #602909; /* darker brown on hover */
  background-color: #eb945154;
  padding: 10px 10px;
  border-radius: 6px;
}

.copyright {
  text-align: center;
  margin-top: 30px;
  font-size: 0.9rem;
  opacity: 0.85;
}

/*===RESPONSIVE DESIGN===*/


/*MOBILE (≤ 576px) */
@media (max-width: 576px) {

  /* HEADER */
  .header h1 {
    font-size: 1.6rem;
    text-align: center;
    padding: 1rem;
  }

  /* NAVIGATION */
 
   /* Show hamburger */
   .hamburger {
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: var(--main-color);
  display: block;
  transition: 0.3s;
}

  .hamburger {
    display: flex;
  }

  /* Hide normal menu */
  .nav-lists{
    position: absolute;
    top: 60px;
    left: 0;
    background: #222;
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: none;
  }

  .nav-lists {
    padding: 15px 0;
    width: 100%;
    text-align: center;
  }

  /* When hamburger is clicked, show menu */
  #menu-toggle:checked + .hamburger + nav .nav-lists {
    display: flex;
    
  }

/*
  nav-lists ul {
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 0;
    margin: 0;

  }


  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    display: block;
    padding: 0.7rem;
  }
*/

#search{
  margin-left: 200px;
  margin-top: 8px;
  padding: 5px;
  width: 150px;
  font-size: 16px;
 
}

  /* DROPDOWNS */
  .dropdown-content {
    position: static;
    width: 100%;
  }

  /* INTRO SECTION */
  .flex-container {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  .flex-container h2 {
    font-size: 1.4rem;
    text-align: center;
  }

  .flex-container p {
    font-size: 0.95rem;
    text-align: center;
  }

  /* GALLERY */
  .gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
  }

  .desc {
    font-size: 1rem;
    text-align: center;
  }

  /* FOOTER */
  .footer-container {
    flex-direction: column;
    text-align: center;
    justify-content : center;
  }
  .footer-container img {
    max-width: 200px;
    height: auto;
    margin-bottom: 1rem;
  }

  .footer-section {
    margin-bottom: 1rem;
  }
  
}

/*====TABLETS (577px – 768px)====*/
@media (min-width: 577px) and (max-width: 768px) {

  .header h1 {
    font-size: 2rem;
    text-align: center;
  }

  nav ul {
    flex-wrap: wrap;
    justify-content: left;
    gap: 0.1rem;
    margin: 0.1rem;
  }
  #search{
    margin-left: 0px;
    margin-top: 8px;
    padding: 5px;
    width: 120px;
    font-size: 16px;
   
  }

  /* PG CONTENT AREA */
  
  .flex-container {
    flex-direction: column;
    align-items: center;
    padding: 2rem;

  }

  .flex-container img {
    max-width: 100%;
    height: auto;
  }

  /* GALLERY */
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding: 2rem;
  }

  .desc {
    font-size: 1.05rem;
  }

  .footer-container {
    flex-direction: column;
    font-size: 1rem;
    text-align: center;
    justify-content : center;
    padding:0rem 13rem;
  }
  .footer-container img {
    max-width: 270px;
    height: auto;

  }
}
/*=====SMALL LAPTOPS (769px – 1024px)====*/
@media (min-width: 769px) and (max-width: 1024px) {

  .grid-container {
    max-width: 95%;
    margin: auto;
  }

  .header h1 {
    font-size: 2.4rem;
  }

  #search{
    margin: 15px;
    margin-top: 8px;
    padding: 5px;
    width: 140px;
    font-size: 16px;
   
  }

  /* INTRO SECTION */
  .flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    font-size: 1rem;
    margin: 1rem;
  }

  .flex-container img {
    max-width: 100%;
    width: 90%;
    height: auto;
  }

  /* GALLERY */
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
  }

  .desc {
    font-size: 1.1rem;
  }
  
  .footer-container {
    flex-direction: column;
    font-size: 1rem;
    text-align: center;
    justify-content : center;
    padding:0rem 13rem;
  }
  .footer-container img {
    max-width: 300px;
    height: auto;

  }
}
/*====LARGE DESKTOPS (≥ 1025px)====*/
@media (min-width: 1025px) {

  .grid-container {
    max-width: 1200px;
    margin: auto;
  }

  .header h1 {
    font-size: 2.8rem;
  }
  #search{
    margin-left: 10%;
    margin-top: 8px;
    padding: 5px;
    width: 400px;
    font-size: 16px;
   
  }

  /* INTRO SECTION */
  .flex-container {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
  }

  .flex-container img {
    max-width: 100%;
    width: 65%;
    height: auto;
  }



  /* GALLERY */
  .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
    padding: 3rem;
  }

  .desc {
    font-size: 1.15rem;
  }

  .footer-container {
    flex-direction: row;
    font-size: 1.5rem;
    text-align: left;
    justify-content : space-between;
    padding:3rem 4rem;
  }

  .footer-container img {
    max-width: 350px;
    height: auto;

  }
}