* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3", sans-serif;
  font-size: 17px;
  margin: 10px;
  padding: 10px;

}

:root {
  --main-color: rgb(147, 76, 4);
  --main-font: "Lora", serif;
  --main-font-2: "Source Sans 3", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas:
  'header'
  'menu'
  'content'
  'facts'
  'footer';
  background-color: white;
  gap: 10px;
}

.header {
  grid-area: header;
  text-align: center;
  font-family: "Lora", serif;
  color: var(--main-color);
   font-size: 40px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px 12px;
  z-index: 1;
  font-size: 15px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
  display: flex;
}

ul li a {
  display: block;
 color: rgb(49, 49, 49);
  padding: 15px 16px;
  margin-right: 10px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #fdedfc;
}

#search {
  margin-left: 600px;
  margin-top: 8px;
  padding: 5px;
  width:200px;
  font-size: 16px;
  border: 1px solid var(--main-color);
  border-radius:10px;
}

.flex-container{
  background-color: rgb(246, 227, 191);
    display:flex;
    flex-direction:row;
    font-size: 15px;
     text-align: center;
}


.flex-container:hover{
  transform: scale(1.05);
  transition: 0.5s;
}
.flex-container> div {
    display:block;
    margin:20px;
}

.flex-container img {
  width: 350px;
  height: auto;
}

.flex-container p {
  color: var(--main-color);
  font-family: var(--main-font-2);
  font-size: 18px;
  padding: 0px;
  
}
.flex-container h2{
  color: var(--main-color);
  font-family: var(--main-font);
  font-size: 35px;
  padding: 20px;
}


.gallery {
  grid-area: facts;
  background-color: beige;
  padding: 5px;
  margin: 30px;
}

p{
  text-align: center;
  font-size: 10px;
  font-family: var(--main-font);
  color: var(--main-color);
}


div.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 5px solid beige;
}

div.gallery-item {
  margin: 25px;
  border: 1px solid #f0e9e9;
  width: 250px;
}

div.gallery-item:hover {
  border: 1px solid var(--main-color);
  transform: scale(1.1);
  transition: transform 0.6s ease;
}

div.gallery-item img {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
   aspect-ratio: 2 / 3; /* Force a perfect square */
  object-fit: cover;
}

div.gallery-item div.desc {
  padding: 15px;
  text-align: center;
  color:var(--main-color);
  font-family: var(--main-font-2);
}

.facts p{
  margin: 20px;
  font-size: 18px;
  font-family: var(--main-font-2);
  color: var(--main-color);
  text-align: center;
}